{# templates/figures/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modification d'une figure{% endblock %}

{% block body %}
    <section id="figureCreation" class="container">
        <h1>Modification d'une figure</h1>

        <div id="figureCreationForm">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.category) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>

                {% if app.request.attributes.get('_route') == 'figure.edit' %}
                    <label>
                        Image existante
                        <a href="#collapseEditFigurePicture" class="btn btn-theme btn-sm ml-2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEditFigurePicture">
                            <i class="fas fa-pen"></i> Changer l'image
                        </a>
                    </label>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Aperçu</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="{{ asset(figure.picture) }}" alt="">
                                </td>
                                <td>
                                    <a href="{{ asset(figure.picture) }}" target="_blank" class="btn btn-dark"><i class="fas fa-eye"></i> Agrandir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="collapse" id="collapseEditFigurePicture">
                        <div class="form-group" id="input-edit-figure-picture">
                            {{ form_row(form.picture) }}
                            {{ form_row(form.original_picture) }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ form_row(form.picture) }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>

                {% if app.request.attributes.get('_route') == 'figure.edit' %}
                    <label>
                        Photos existantes
                        <a href="#collapseEditFigureFiles" class="btn btn-theme btn-sm ml-2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEditFigureFiles"><i class="fas fa-plus"></i> Ajouter des photos</a>
                    </label>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Aperçu</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for picture in figure.files %}
                                <tr>
                                    <td>
                                        <img src="{{ asset(picture.path) }}" alt="">
                                    </td>
                                    <td>
                                        <a href="{{ asset(picture.path) }}" target="_blank" class="btn btn-dark"><i class="fas fa-eye"></i> Agrandir</a>
                                        <button type="button" class="btn btn-danger btn-delete-picture-figure" data-id="{{ picture.id }}"><i class="fas fa-trash-alt"></i> Supprimer</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="collapse" id="collapseEditFigureFiles">
                        <div class="form-group">
                            {{ form_row(form.files) }}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ form_row(form.files) }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <button type="submit" class="btn btn-theme btn-block bg-theme" id="btn-submit-figureCreationForm">Modifier la figure</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}