{# templates/figures/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="index">
        <header>
            <img src="{{ asset('uploads/home.jpg') }}" alt="Snowtricks">
            <button type="button" id="scrollDown-to-figures"></button>
        </header>

        <div class="container-fluid">
            <main class="wrap">
                {% for figure in figures %}
                    {% if loop.first %}
                        <div class="row justify-content-lg-center figures-list">
                    {% endif %}
                        {% if loop.index <= 15 %}
                            <article class="figure col-12 col-lg-1" id="{{ figure.id }}">
                                <div class="card">
                                    <img src="{{ asset(figure.picture) }}" class="card-img-top" alt="{{ figure.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title mb-0"{% if app.user.id is defined %} data-user="{{ app.user.id }}"{% endif %}>{{ figure.name }}</h5> <i class="fas fa-spinner fa-spin d-none"></i>
                                        {% if app.user.id is defined and figure.user.id == app.user.id %}
                                            <button type="button" class="btn-figure btn-delete-figure float-right ml-3" data-toggle="tooltip" data-placement="bottom" title="Supprimer"></button>
                                            <i class="fas fa-spinner fa-spin float-right ml-3 d-none"></i>
                                            <a href="{{ path('figure.edit', {id: figure.id}) }}" class="btn-figure btn-edit-figure float-right" data-toggle="tooltip" data-placement="bottom" title="Modifier"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        {% else %}
                            {% if loop.index == 16 %}
                                </div>{# /.row.justify-content-lg-center.figures-list #}
                                <div class="collapse" id="collapseFiguresList">
                                    <div class="row justify-content-lg-center figures-list">
                            {% endif %}
                                        <article class="figure col-12 col-lg-1" id="{{ figure.id }}">
                                            <div class="card">
                                                <img src="{{ asset(figure.picture) }}" class="card-img-top" alt="{{ figure.name }}">
                                                <div class="card-body">
                                                    <h5 class="card-title mb-0"{% if app.user.id is defined %} data-user="{{ app.user.id }}"{% endif %}>{{ figure.name }}</h5> <i class="fas fa-spinner fa-spin d-none"></i>
                                                    {% if app.user.id is defined and figure.user.id == app.user.id %}
                                                        <button type="button" class="btn-figure btn-delete-figure float-right ml-3" data-toggle="tooltip" data-placement="bottom" title="Supprimer"></button>
                                                        <i class="fas fa-spinner fa-spin float-right ml-3 d-none"></i>
                                                        <a href="{{ path('figure.edit', {id: figure.id}) }}" class="btn-figure btn-edit-figure float-right" data-toggle="tooltip" data-placement="bottom" title="Modifier"></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </article>
                            {% if loop.index is divisible by(5) %}
                                    </div>{# /.row.justify-content-lg-center.figures-list #}
                                    <div class="row justify-content-lg-center figures-list">
                            {% endif %}
                            {% if loop.last %}
                                    </div>{# /.row.justify-content-lg-center.figures-list #}
                                    <button type="button" id="scrollUp-to-figures"></button>
                                </div>{# /.collapse#collapseFiguresList #}
                            {% endif %}
                        {% endif %}
                    {% if loop.index < 15 and loop.index is divisible by(5) %}
                        </div>{# /.row.justify-content-lg-center.figures-list #}
                        <div class="row justify-content-lg-center figures-list">
                    {% endif %}
                    {% if loop.index < 15 and loop.last %}
                        </div>{# /.row.justify-content-lg-center.figures-list #}
                    {% endif %}
                {% endfor %}
                {% if figures|length > 15 %}
                    <button type="button" class="btn btn-theme d-block mx-auto bg-theme" id="btn-show-more-figures" data-toggle="collapse" data-target="#collapseFiguresList" aria-expanded="false" aria-controls="collapseFiguresList">
                        <i class="fas fa-plus"></i> Voir plus
                    </button>
                {% endif %}
            </main>
        </div>

        <div class="modal fade" id="figureDetailsModal" tabindex="-1" role="dialog" aria-labelledby="figureDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger mb-0 d-none" role="alert">La figure n'a pas été trouvée.</div>

                        <section class="figure-modal"></section>

                        <section class="figure-comments-modal">
                            <div class="row">
                                div.
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}